#cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#emptyCart {
    font-size: 1.5rem;
}

#cart > div:first-child {
    height: 100%;
    width: 80rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

#cartTotal {
    width: 80rem;
    padding: 2rem;
    text-align: end;
    font-size: 1.5rem;
}
